<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A youth driven organisation that centres to protect the interests of poverty-stricken by aiding their Health. Preaches to promote Zero-hunger and Quality education to the under previlleged. Stresses working for clean and healthy environment . We believe in Spreading Smiles , Arms of Care and Concern by helping others, this is how we attain Happiness and peace. Come join us to fathom Our Kind of Happiness.,width=device-width, initial-scale=1.0">
    <meta name="keyword" content="sattvicsoul foundation ,width=device-width, initial-scale=1.0">
    <title>SATTVIC SOUL Foundation | Coming Soon</title>
    <link rel="shortcut icon" type="image/png" href="static/app/images/LOGOWHITE.png">
    <link rel="stylesheet" href="static/app/css/style1.css">
</head>

<body>
    <div class="slider">
        <div class="load"></div>
    </div>
    <div class="container">
        <img src="static/app/images/LOGOWHITE.png" alt="logo" class="logo">
        <div class="content">
            <h1>Coming Soon</h1>
            <p> <br>
                <span>Website is Under Construction<br>
                <h2>Follow Us for More Updates</h2> 
            </p>

        </div>
        <ul class="social-links">
            <li class="social-item"><a href="https://www.facebook.com/soulfoundation19/"><img src="static/app/images/fb.svg" alt="facebook"></a></li>
            <li class="social-item"><a href="https://instagram.com/soulfoundation19?igshid=dxal6wofiton"><img src="static/app/images/insta.png" alt="instagram"></a></li>
            <li class="social-item"><a href="https://twitter.com/SOULFoundation4?s=09"><img src="static/app/images/twitter.svg" alt="twitter"></a> </li>
            <li class="social-item"><a href="https://www.linkedin.com/company/soulfoundation19"><img src="static/app/images/linkedin.svg" alt="linkedin"></a> </li>
        </ul>
    </div>

</body>

</html>


<style>

  